@charset "utf-8";
/* CSS Document */

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --bark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --background-color: #f2f2f2;
  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders-display: "Big Shoulders Display", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--lexend-deca);
}
body {
  font-size: 1.5rem;
  background-color: var(--background-color);
}

.flex-container {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 90px 0;
}
.flex-item {
  width: 90%;
  height: 430px;
  padding: 40px 40px;
}
.flex-item h1 {
  padding: 30px 0;
  font-family: var(--big-shoulders-display);
  font-size: 3.9rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}
.flex-item p {
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: var(--transparent-white);
}
.flex-item_sedan {
  border-radius: 10px 10px 0 0;
  background-color: var(--bright-orange);
}
.flex-item_suv {
  background-color: var(--bark-cyan);
}
.flex-item_luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}
.btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: var(--lexend-deca);
  border: none;
  border-radius: 30px;
}
.btn-sedan {
  color: var(--bright-orange);
}
.btn-suvs {
  color: var(--bark-cyan);
}
.btn-luxury {
  color: var(--very-dark-cyan);
}
.attribution {
  width: 80%;
  margin: -60px auto;
  text-align: center;
}

/* 
=============================
    MEDIA QUERIES 1440px
=============================
*/
@media (min-width: 992px) {
  .flex-container {
    width: 1440px;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flex-item {
    width: 310px;
    height: 500px;
    padding: 40px 40px;
  }
  .flex-item_sedan {
    border-radius: 10px 0 0 10px;
    background-color: var(--bright-orange);
  }
  .flex-item_luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
  }
  .btn {
    margin-top: 90px;
  }
  .btn:hover {
    cursor: pointer;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
  }
  .btn-sedan:hover {
    background-color: var(--bright-orange);
  }
  .btn-suvs:hover {
    background-color: var(--bark-cyan);
  }
  .btn-luxury:hover {
    background-color: var(--very-dark-cyan);
  }
  .attribution {
    width: 100%;
    margin-top: -150px;
    margin: -160px auto 0 auto;
    text-align: center;
  }
}
